<tr class='change_row <%= "change_event_#{version.event} #{version.event} #{version.event}, #{version.item_type.downcase}" %>'>
  <td class='change_time'>
    <span class='change_id'><%= version.id %></span>
  </td>
  <td class='change_time'>
    <div class='date'> <%= version.created_at.strftime('%Y-%m-%d') %> </div>
    <div class='time'> <%= version.created_at.strftime('%H:%M:%S') %> </div>
  </td>
  <td class='change_details'>
      <strong class='event'><%= version.event %></strong>
  </td>
  <td class='change_details'>
      <span class='item_type'><%= version.item_type %></span>
  </td>
  <td class='change_details'>
      <span class='item_id'><%= version.item_id %></span>
  </td>
  <td class='change_details'>
      <%= change_item_link(version) %>
      <% if PaperTrailManager.whodunnit_class && version.whodunnit %>
        <% if user = PaperTrailManager.whodunnit_class.find(version.whodunnit) rescue nil %>
          by <%= link_to(h(user.send(PaperTrailManager.whodunnit_name_method)), user_path(user)) %>
        <% end %>
      <% end %>
  </td>
  <td class='change_details'>
    <% if version.event == 'update' or version.event == 'create' %>
      <% changes = changes_for(version) %>
      <table class='change_details_table'>
        <% changes.keys.sort.each_with_index do |key, i| %>
          <tr class='<%= i%2==0 ? 'even' : 'odd' %>'>
            <td class='change_detail_key previous'><%= key %></td>
            <td class='change_detail_value previous'><%= text_or_nil(changes[key][:previous]) %></td>
            <td class='change_detail_spacer'> &rarr; </td>
            <td class='change_detail_value current'><%= text_or_nil(changes[key][:current]) %></td>
          </tr>
        <% end %>
      </table>
    <% end %>

  </td>
  <td class='change_details'>
    <% if change_revert_allowed?(version) %>
      <%= link_to 'Roll back', change_path(version), 
                  :method => 'put', 
                  :confirm => 'Are you sure?', 
                  :class => 'rollback' %>
    <% end %>
  </td>
</tr>
